body{
    height:1000px
}
h2{
    text-align: center;
}

section{
    width: 80%;
    margin: auto;
}
.box{
    margin: 20px auto;
    border: 2px solid black;
    padding: 24px;
    text-align: center;
}

.num{
    display: flex;
    
}

.number{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top:300px;
}

.md{
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

